Workflows/## 01. Secretária v3.json
{
  "name": "## 01. Secretária v3",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        1088
      ],
      "id": "d08c209e-c490-4f8e-b933-6659533ce6db",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        1088
      ],
      "id": "fca19b81-8521-43e7-bb85-39f048e64c9f",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        1312
      ],
      "id": "b9e71711-c357-4053-8e1d-38751d9c92a5",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        1088
      ],
      "id": "095793c4-bbd7-4a1d-ba16-6f99b179cdcc",
      "name": "Esperar",
      "webhookId": "5e72bbc8-a786-414e-983d-d4866b92ed4f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info').item.json.info_arquivo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1472,
        1184
      ],
      "id": "4d5b10fc-4dc0-403a-b261-085c9f7ce064",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1n-wO8zh8Q4mtbRG1z-zLiYmxiOQYNG37",
            "mode": "list",
            "cachedResultName": "Arquivos da Secretária v3",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1n-wO8zh8Q4mtbRG1z-zLiYmxiOQYNG37"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        3488,
        1456
      ],
      "id": "5a3c4a26-7631-49b3-ba77-00accbe17cd8",
      "name": "Listar arquivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H3MFyRH1kvygZUk9",
          "name": "Conta sec v3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3344,
        1424
      ],
      "id": "3534596f-a12b-4c64-ad18-077e9323926a",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "mensagem": "={{ $('Info').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info').item.json.info_arquivo ? `\\n${$('Info').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        1088
      ],
      "id": "29694ab4-2ba3-45e5-ae0b-645e1e4fdd3f",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        1120
      ],
      "id": "24e3ccf9-a5c3-4bc2-a3a8-7bc46119d32c",
      "name": "Marcar como lidas",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1232
      ],
      "id": "aaa3e95a-7943-4d16-9e03-39e1aa7a59ca",
      "name": "Download áudio",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1920,
        1232
      ],
      "id": "d242651d-c3b6-4e3c-8e24-8778b1b2ea1c",
      "name": "Transcrever audio",
      "credentials": {
        "openAiApi": {
          "id": "Nqu19OyFIME63XQl",
          "name": "Gon solutions"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "value": "F7WGGOfGGCErDTsX",
          "mode": "list",
          "cachedResultUrl": "/workflow/F7WGGOfGGCErDTsX",
          "cachedResultName": "## 05. Escalar humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "resumo_conversa": "={{ $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') }}",
            "ultima_mensagem": "={{ $('Coletar mensagens').item.json.mensagem }}",
            "nome": "={{ $('Info').item.json.nome }}",
            "id_conversa_alerta": "={{ $('Info').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa_alerta",
              "displayName": "id_conversa_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        1360
      ],
      "id": "a8df93cb-5ede-4fd5-a1ba-b8d7956c1d8e",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7104,
        1680
      ],
      "id": "ae46fc3d-43e7-4519-9706-3486c4d115a4",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://app.growthailabs.com.br/",
              "type": "string"
            },
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "value": "30",
              "type": "string"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "value": "500",
              "type": "string"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.sender.custom_attributes }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1200
      ],
      "id": "71432b8e-4469-422c-9cf2-43084ba51de7",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1248,
        1232
      ],
      "id": "d608cc84-9a6d-495b-ad19-a8f5bbc6b9a3",
      "name": "Processar mensagem?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1040,
        1184
      ],
      "id": "2a0c7c6f-7d7f-4b07-a048-46f98250e535",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        528
      ],
      "id": "c3fe3e71-7f56-4f30-a0d3-166aaf955516",
      "name": "Limpar etiquetas",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        528
      ],
      "id": "cf043dbc-b2c0-45d5-8467-8a71beded367",
      "name": "Enviar memória resetada",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        528
      ],
      "id": "49326a57-a516-4de5-b336-692e914fc5a2",
      "name": "Limpar memória",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        528
      ],
      "id": "b4b7489e-7b95-41d3-8cbc-99e1fde98a88",
      "name": "Resetar atributos",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        528
      ],
      "id": "1c48be5c-af21-455f-a66e-c5d10615a070",
      "name": "Limpar fila de mensagens1",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        832
      ],
      "id": "2117c161-aeca-4cc0-87ef-a91979d1dfe3",
      "name": "Colocar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        832
      ],
      "id": "85aad09c-fcc3-4fac-a9fc-2ad8a2dddf08",
      "name": "Enviar teste habilitado",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        1280
      ],
      "id": "86beb082-41cf-4305-9d83-090ddf4107ed",
      "name": "Agente já terminou de responder?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1120
      ],
      "id": "093cc46c-05d6-48ed-be96-4bc35dc8c3d5",
      "name": "Coletar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $fromAI('conteudo', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4320,
        1488
      ],
      "id": "c8f1ac4e-b7f9-46a4-9928-d1e7ea56f7a3",
      "name": "Enviar texto separado",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        1088
      ],
      "id": "4288a7d4-db34-449e-87ec-f6cf2f3d0184",
      "name": "Salvar tool calls",
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5056,
        1248
      ],
      "id": "4d02c6a0-5ddc-4d20-a7f3-5c74e3e44f60",
      "name": "Usou tools?"
    },
    {
      "parameters": {
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        1280
      ],
      "id": "efac8536-13b2-4c27-9621-8b18cbc157aa",
      "name": "Buscar atributos do contato",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { preferencia_audio_texto } = $('Buscar atributos do contato').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        1280
      ],
      "id": "9669a470-e0d0-4b1c-b027-bba501b7a072",
      "name": "Calcular tipo da resposta"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6080,
        1280
      ],
      "id": "58ed4ef8-dce9-43c2-9852-1de02d7af4ca",
      "name": "Tipo da resposta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "recording"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6672,
        1360
      ],
      "id": "410f1325-905a-4354-a198-7e5447cd4b0e",
      "name": "Gravando...",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_recorded_audio",
              "value": "=[\"{{ $binary.data.fileName }}\"]"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        1360
      ],
      "id": "1b3e04fa-fa35-44af-a512-7553e20fe9e6",
      "name": "Enviar áudio",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0AYa1mBHrFmFwY9O",
          "mode": "list",
          "cachedResultUrl": "/workflow/0AYa1mBHrFmFwY9O",
          "cachedResultName": "## 07. Quebrar e enviar mensagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $('Formatar texto').item.json.text }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6880,
        1120
      ],
      "id": "d0f6ef88-a631-4219-979f-4b51c3e9eb3e",
      "name": "Quebrar e enviar mensagens"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)",
        "workflowId": {
          "__rl": true,
          "value": "oIXC3WCrH9KQUIUG",
          "mode": "list",
          "cachedResultUrl": "/workflow/oIXC3WCrH9KQUIUG",
          "cachedResultName": "## 03. Buscar janelas disponíveis Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "periodo_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "periodo_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "tamanho_janela_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "granularidade": 15
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1360
      ],
      "id": "40de92a6-0eab-489f-b425-325613c2f1a7",
      "name": "Buscar janelas disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.",
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Info').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4480,
        1504
      ],
      "id": "58855afa-4275-4ac0-8574-8d1dbcf558c0",
      "name": "Preferencia audio texto",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_attributes",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', `O emoji da reação.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4352,
        1360
      ],
      "id": "cfaa0d79-f4e8-4d7c-95cd-fdc6eef7e733",
      "name": "Reagir mensagem",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6336,
        1520
      ],
      "id": "099724e1-1d6d-46c4-aa45-d33b4412cb91",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Nqu19OyFIME63XQl",
          "name": "Gon solutions"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6640,
        1264
      ],
      "id": "99f67788-a147-4750-99e2-da556d25fc44",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "Nqu19OyFIME63XQl",
          "name": "Gon solutions"
        }
      }
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1120
      ],
      "typeVersion": 1,
      "id": "3fa036d9-7d34-431e-adf5-c58c00a67db4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        1280
      ],
      "id": "5017e337-513d-40f8-8c36-ab49c0c7b97a",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2784,
        1312
      ],
      "id": "3d1c63ae-736b-4797-9ee1-7a5e77482ea1",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        528
      ],
      "id": "a2e2bfda-25b4-4ef7-ad1f-d96a5017657a",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5216,
        1440
      ],
      "id": "a50216b1-a74a-4aa0-83d6-160d9e524f3f",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7328,
        1232
      ],
      "id": "fc0c759d-af40-4b1b-ad66-74d88607a187",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "hWBzdgpZITxdjrDa",
          "name": "Postgress secretariaV3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        448
      ],
      "typeVersion": 1,
      "id": "d5b59150-48ed-4a11-bca6-a15b523d8e41",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        752
      ],
      "typeVersion": 1,
      "id": "1e7ddeaa-bf2d-48d9-84fd-9a65eebc4c37",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3216,
        1360
      ],
      "id": "2b133997-c5e3-4a92-85bf-e40d47471317",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Nqu19OyFIME63XQl",
          "name": "Gon solutions"
        }
      }
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3184,
        1280
      ],
      "id": "cecf9fd0-761f-4531-a5f0-b2c354f07f1f",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        1280
      ],
      "id": "7edfe376-36e9-4c6b-881d-087d1f9f8dcd",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3760,
        1280
      ],
      "id": "7adf0dc3-c503-463e-b343-874b9a2f515c",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        1280
      ],
      "id": "df105a56-d6ce-44fe-97be-8db82b00ff1d",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        1280
      ],
      "id": "13d72b35-bebf-4711-a19a-08dc72680a3a",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4848,
        1296
      ],
      "id": "727f0c07-e7de-4679-aeaf-945f4e1cd785",
      "name": "Output válido?"
    },
    {
      "parameters": {
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3').item.json.output }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5488,
        1360
      ],
      "id": "d169754d-9c36-45ad-bc47-615c292e18df",
      "name": "Output inválido"
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1040
      ],
      "id": "9b345c2b-69ed-48da-a416-106628690152",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1040
      ],
      "typeVersion": 1,
      "id": "8f8dcbcd-ba15-44d3-9894-e9f9da88d026",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        1040
      ],
      "typeVersion": 1,
      "id": "c0c409f1-148c-484c-94eb-9570be6b956e",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        1040
      ],
      "id": "342f3da0-f88e-4adf-a67a-03d4338a514d",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        1040
      ],
      "typeVersion": 1,
      "id": "eb1ec0e6-68ef-4448-aa90-45d57d72c28b",
      "name": "Sticky Note19",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "workflowId": {
          "__rl": true,
          "value": "2uW0sMosp5UZF2Oe",
          "mode": "list",
          "cachedResultUrl": "/workflow/2uW0sMosp5UZF2Oe",
          "cachedResultName": "## 02. Baixar e enviar arquivo do Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3616,
        1456
      ],
      "id": "8d81d4d2-1a5a-4bee-b539-e99d303a01d7",
      "name": "Enviar arquivo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6480,
        1120
      ],
      "id": "19d61af3-c079-4955-88b2-096624712a93",
      "name": "Formatar texto",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6352,
        1360
      ],
      "id": "531cad62-96c6-4af9-8828-0d3122fbb915",
      "name": "Formatar SSML",
      "retryOnFail": true
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3216,
        1488
      ],
      "id": "7eb59cb9-9da1-48b5-a429-527f7656a592",
      "name": "Refletir"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "growthlabsia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        1200
      ],
      "id": "7b0a4426-22d5-4015-ad55-43996c021f8f",
      "name": "Mensagem recebida",
      "webhookId": "947cebfc-8233-46e1-9528-4963d313479c"
    },
    {
      "parameters": {
        "toolDescription": "Envia um alerta de consulta cancelada para o gestor da clínica.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4512,
        1344
      ],
      "id": "8a0b302a-6cfa-488c-a29b-99d1d437d4f1",
      "name": "Enviar alerta de cancelamento",
      "credentials": {
        "chatwootApi": {
          "id": "1MHQFQ90S4g7TbUG",
          "name": "App- Secv3"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.",
        "workflowId": {
          "__rl": true,
          "value": "5qZEp6Y4GBOU5EjN",
          "mode": "list",
          "cachedResultUrl": "/workflow/5qZEp6Y4GBOU5EjN",
          "cachedResultName": "## 04. Criar evento Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}",
            "duracao_minutos": "={{ $('Info').item.json.agendamento_duracao_minutos }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info').item.json.telefone }}",
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evento_inicio",
              "displayName": "evento_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duracao_minutos",
              "displayName": "duracao_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3920,
        1360
      ],
      "id": "77dfa580-2dab-4951-a292-7bd663cc74e7",
      "name": "Criar agendamento"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para deletar um agendamento.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI('id_evento', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3920,
        1504
      ],
      "id": "3418eb29-0f91-4cee-9524-fb0a94c7e0b3",
      "name": "Cancelar agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "p2td03xSNRejs1qD",
          "name": "Google Calendar/ Automatiza"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('id_agenda', ``, 'string') }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $('Info').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4048,
        1360
      ],
      "id": "f4663132-ff14-48af-adee-3ff34068a65a",
      "name": "Buscar agendamentos do contato",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tzLknboR5jkrsGM6",
          "name": "Calendar- Secv3"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "workflowId": {
          "__rl": true,
          "value": "LtJQXXFcwsk12wdG",
          "mode": "list",
          "cachedResultUrl": "/workflow/LtJQXXFcwsk12wdG",
          "cachedResultName": "## 06. Integração Asaas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cobranca_valor": "={{ $('Info').item.json.cobranca_valor }}",
            "cobranca_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}",
            "telefone": "={{ $('Info').item.json.telefone }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_contato": "={{ $('Info').item.json.id_contato }}",
            "asaas_id_cliente": "={{ $('Info').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info').item.json.atributos_contato.asaas_id_cobranca }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}",
            "url_asaas": "={{ $('Info').item.json.url_asaas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cobranca_valor",
              "displayName": "cobranca_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cobranca_vencimento",
              "displayName": "cobranca_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cliente",
              "displayName": "asaas_id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cobranca",
              "displayName": "asaas_id_cobranca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_asaas",
              "displayName": "url_asaas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4640,
        1360
      ],
      "id": "0cb0f869-c883-49f3-8703-02824826958e",
      "name": "Criar ou buscar cobranca"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}{{ !$('Info').item.json.mensagem_de_audio && $('Info').item.json.tipo_arquivo ? `\\n<usuário enviou um arquivo do tipo '${$('Info').item.json.tipo_arquivo}'>` : '' }}",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual especializada da Clínica Oliveira, responsável pelo atendimento via WhatsApp. Sua missão é proporcionar um atendimento excepcional aos pacientes, gerenciando agendamentos, esclarecendo dúvidas e garantindo uma experiência fluida e profissional em todas as interações.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Acolhedora e empática**: Demonstre compreensão e cuidado genuíno\n  * **Profissional e confiável**: Transmita segurança nas informações e processos\n  * **Eficiente e organizada**: Seja objetiva sem perder o calor humano\n  * **Paciente e clara**: Explique com calma, especialmente para pacientes idosos ou com dificuldades\n  * **Proativa**: Antecipe necessidades e ofereça soluções\n</personalidade>\n\n# CONTEXTO DA CLÍNICA\n\n<informacoes-clinica>\n  ### HORÁRIO DE FUNCIONAMENTO\n\n  * Segunda a Sexta: 08h às 19h\n  * Sábado: 08h às 11h\n  * Domingo e Feriados: Fechado\n\n  ### LOCALIZAÇÃO E CONTATO\n\n  * Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n  * Telefone: (62) 4456-7890\n  * WhatsApp: (62) 99999-9999\n  * Email: contato@clinicamoreira.com.br\n  * Site: www.clinicamoreira.com.br\n\n  ### VALORES E PAGAMENTO\n\n  * Valor da consulta: R$ 500,00\n  * Formas de pagamento: PIX, dinheiro, cartão (débito/crédito)\n  * Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n  * Prazo para pagamento: até 7 dias após o agendamento\n\n  ### PROFISSIONAIS DISPONÍVEIS\n\n  | Profissional            | Especialidade            | ID da Agenda             |\n  |-------------------------|--------------------------|--------------------------|\n  | Dr. João Paulo Ferreira | Clínico Geral            | 9250321288ad6230e318fa4b5f19d90b2f2d1859ce6c8960c985f2dfb310452e@group.calendar.google.com |\n  | Dr. Roberto Almeida     | Cardiologista            | ddaf8eb9035e2850019626df5288360b663d9d1b88ed9a6e62291cf2e7fc0f18@group.calendar.google.com |\n  | Dra. Ana Silva          | Dentista - Clínica Geral | 629009de26a75ef79fcc4cfbf5b9fab7132d72c4043c0f171c6858073e331b80@group.calendar.google.com |\n  | Dra. Carla Mendes       | Odontopediatra           | 5cda00acf767211850d6af0c17ce2edc579a6d66b7ea17369be772158878b4c4@group.calendar.google.com |\n</informacoes-clinica>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. FLUXO DE ATENDIMENTO INICIAL\n\n<fluxo-inicial>\n  ### 1.1 Abertura do Atendimento\n\n  1. **Cumprimente e apresente-se**: \"Olá! Sou a Maria, da Clínica Oliveira. Como posso ajudá-lo hoje?\"\n  2. Apresente a clínica ao cliente, com os procedimentos. \n  3. **Identifique a necessidade**: Aguarde o paciente expressar sua demanda\n  4. **Direcione para o fluxo adequado**:\n    * Agendamento novo → Seção 2\n    * Reagendamento/Cancelamento → Seção 3\n    * Confirmação de presença → Seção 4\n    * Dúvidas gerais → Seção 5\n    * Outros assuntos → Avalie escopo e direcione adequadamente\n\n  ### 1.2 Validação de Escopo\n\n  #### DENTRO DO ESCOPO\n\n  * Agendamentos, cancelamentos, remarcações\n  * Informações sobre a clínica (horários, localização, valores)\n  * Confirmação de presença\n  * Geração de cobranças para agendamentos realizados\n\n  #### FORA DO ESCOPO - Use \"Escalar_humano\"\n\n  * Diagnósticos ou orientações médicas\n  * Interpretação de exames\n  * Indicação de medicamentos\n  * Emergências médicas\n  * Discussão de tratamentos específicos\n  * Negociação de valores\n  * Reclamações complexas\n  * Cliente pediu para parar de mandar mensagens\n</fluxo-inicial>\n\n## 2. FLUXO DE AGENDAMENTO\n\n<fluxo-agendamento>\n  ### 2.1 Coleta de Dados do Paciente\n\n  SEQUÊNCIA OBRIGATÓRIA:\n  1. Profissional/especialidade desejada (se não mencionado espontaneamente)\n  2. Nome completo\n  3. Data de nascimento\n  4. Data de preferência\n  5. Período preferencial (manhã/tarde)\n\n  ### 2.2 Busca de Disponibilidade\n\n  1. **Use \"Refletir\"** para validar os dados antes de buscar\n  2. **Execute \"Buscar_janelas_disponiveis\"** com:\n    * agenda_id: ID correto do profissional\n    * data_inicio: data solicitada\n    * periodo_inicio: início do período desejado\n    * periodo_fim: fim do período (mínimo {{ $('Info').item.json.agendamento_duracao_minutos }} minutos após início)\n  3. **Apresente opções**: A ferramenta irá retornar várias opções. Ofereça 2-3 horários disponíveis\n  4. **Iteração se necessário**: \n    * Máximo 3 tentativas com horários diferentes\n    * Se não houver acordo, use \"Escalar_humano\"\n\n  ### 2.3 Criação do Agendamento\n\n  1. **Confirme todos os dados** com o paciente\n  2. **Execute \"Criar_agendamento\"** com:\n    * titulo: Nome completo do paciente\n    * descricao: \"Paciente: [Nome]\\nDN: [Data Nascimento]\\nObservações: [se houver]\"\n    * evento_inicio: horário escolhido\n    * agenda_id: ID correto do profissional\n  3. **Aguarde sucesso** da ferramenta\n  4. **Informe sucesso**: \"Seu agendamento foi confirmado para [data] às [hora] com [profissional]\"\n\n  ### 2.4 Geração de Cobrança\n\n  1. **Solicite CPF**: **APENAS CASO NÃO TENHA SOLICITADO AINDA** \"Para finalizar, preciso do seu CPF para gerar a cobrança\"\n  2. **Extraia apenas dígitos** (remova pontos e traços)\n  3. **Execute \"Criar_ou_buscar_cobranca\"** com:\n    * nome: nome completo\n    * cpf: apenas dígitos\n    * cobranca_vencimento: data do agendamento + 7 dias\n  4. **Forneça informações de pagamento**\n</fluxo-agendamento>\n\n## 3. FLUXO DE CANCELAMENTO E REAGENDAMENTO\n\n<fluxo-cancelamento>\n  ### 3.1 Identificação do Agendamento\n\n  1. **Execute \"Buscar_agendamentos_do_contato\"**\n  2. **Confirme com o paciente** qual agendamento será alterado\n  3. **Registre o motivo** do cancelamento (se fornecido)\n\n  ### 3.2 Processamento do Cancelamento\n\n  1. **Execute \"Cancelar_agendamento\"** com o ID correto\n  2. **Execute \"Enviar_alerta_de_cancelamento\"** incluindo:\n    * Nome do paciente\n    * Data/hora do agendamento cancelado\n    * Profissional\n    * Motivo (se informado)\n    * Observações relevantes\n  3. **Confirme o cancelamento** ao paciente\n\n  ### 3.3 Reagendamento (se aplicável)\n\n  1. **Pergunte**: \"Gostaria de reagendar para outra data?\"\n  2. Se sim → Retorne ao Fluxo de Agendamento (Seção 2)\n  3. Se não → Finalize cordialmente\n</fluxo-cancelamento>\n\n## 4. FLUXO DE CONFIRMAÇÃO DE PRESENÇA\n\n<fluxo-confirmacao>\n  ### 4.1 Quando o Sistema Envia Lembrete Automático\n\n  1. **Identifique** a mensagem automática no histórico\n  2. **Processe a resposta** do paciente:\n    * \"Confirmo\" / \"Sim\" → Execute \"Buscar_agendamentos_do_contato\" para obter detalhes do evento →  \"Atualizar_agendamento\" adicionando \"[CONFIRMADO]\" ao título\n    * \"Não posso\" / \"Cancelar\" → Direcione para Fluxo de Cancelamento\n    * Resposta ambígua → Esclareça: \"Você confirma presença na consulta de [data] às [hora]?\"\n  3. **Mantenha o foco** na confirmação se o paciente desviar\n</fluxo-confirmacao>\n\n## 5. FLUXO DE DÚVIDAS\n\n<fluxo-duvidas>\n  ### 5.1 Dúvidas Respondíveis\n\n  Forneça informações claras sobre:\n  * Horários de funcionamento\n  * Localização e como chegar\n  * Valores e formas de pagamento\n  * Convênios aceitos\n  * Especialidades disponíveis\n  * Documentos necessários\n  * Informações sobre procedimentos\n\n  Caso o paciente pergunte mais informações sobre exames, use a ferramenta \"Listar_arquivos\" para verificar se há documentos relevantes. Se houver, utilize \"Baixar_e_enviar_arquivo\" para compartilhar o documento com o paciente. Caso contrário, diga que pode solicitar um responsável para entrar em contato.\n\n  ### 5.2 Dúvidas Fora do Escopo\n\n  Para questões médicas ou técnicas:\n  1. **Não tente responder** mesmo que pareça simples\n  2. **Use \"Escalar_humano\"** imediatamente\n  3. **Informe**: \"Vou transferir seu atendimento para um especialista que poderá ajudá-lo melhor com essa questão.\"\n</fluxo-duvidas>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Ferramentas de Agendamento\n\n  ### Buscar_janelas_disponiveis\n\n  <ferramenta id=\"Buscar_janelas_disponiveis\">\n    **Uso**: Identificar horários livres na agenda\n    **Parâmetros obrigatórios**:\n      * agenda_id: ID do profissional\n      * data_inicio: data desejada\n      * periodo_inicio: horário inicial\n      * periodo_fim: horário final (mínimo periodo_inicio + duração da consulta)\n    **Validação**: Sempre use período >= {{ $('Info').item.json.agendamento_duracao_minutos }} minutos\n  </ferramenta>\n\n  ### Criar_agendamento\n\n  <ferramenta id=\"Criar_agendamento\">\n    **Uso**: Criar novo agendamento\n    **Quando**: Após confirmação do paciente e horário disponível\n    **Parâmetros**: titulo, descricao, evento_inicio, agenda_id\n    **Retorno**: Confirmação de agendamento criado, com ID do evento\n    **Importante**: Verifique se já não chamou essa ferramenta antes de chamá-la novamente\n  </ferramenta>\n\n  ### Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Listar agendamentos existentes do paciente\n    **Quando**: Cancelamento, reagendamento ou consulta\n  </ferramenta>\n\n  ### Atualizar_agendamento\n\n  <ferramenta id=\"Atualizar_agendamento\">\n    **Uso**: Modificar agendamento existente\n    **Parâmetros**: ID agenda, ID do agendamento (buscar com Buscar_agendamentos_do_contato), novos detalhes\n    **Caso principal**: Adicionar \"[CONFIRMADO]\" ao título\n  </ferramenta>\n\n  ### Cancelar_agendamento\n\n  <ferramenta id=\"Cancelar_agendamento\">\n    **Uso**: Cancelar agendamento existente\n    **Importante**: Sempre seguir com \"Enviar_alerta_de_cancelamento\"\n  </ferramenta>\n\n  ## Ferramentas de Comunicação\n\n  ### Reagir_mensagem\n\n  <ferramenta id=\"Reagir_mensagem\">\n    **Uso**: Adicionar reação apropriada\n    **Emojis permitidos**: 😀 ❤️ 👍 👀 ✅\n    **Frequência**: Máximo 3 por conversa. Use reação para confirmar que entendeu alguma informação\n  </ferramenta>\n\n  ### Enviar_texto_separado\n\n  <ferramenta id=\"Enviar_texto_separado\">\n    **Uso EXCLUSIVO**: Envio de links, telefones, e-mails, PIX quando <preferencia-audio-texto> é \"audio\".\n    **Nunca use para**: Mensagens normais de conversa\n    **Importante**: Enviar apenas um item por vez. NUNCA UTILIZAR CASO <preferencia-audio-texto> seja \"texto\" ou \"ambos\".\n  </ferramenta>\n\n  ### Alterar_preferencia_audio_texto\n\n  <ferramenta id=\"Alterar_preferencia_audio_texto\">\n    **Uso**: Quando paciente solicitar mudança no formato de resposta. Exemplo \"me responde em áudio\" ou \"prefiro que responda em texto\".\n    **Opções**: \"audio\" | \"texto\" | \"ambos\"\n\n    Nesse momento você está respondendo com: <preferencia-audio-texto>{{ $('Info').item.json.atributos_contato.preferencia_audio_texto || 'ambos' }}</preferencia-audio-texto>\n  </ferramenta>\n\n  ## Ferramentas de Gestão\n\n  ### Criar_ou_buscar_cobranca\n\n  <ferramenta id=\"Criar_ou_buscar_cobranca\">\n    **Uso**: Após agendamento confirmado\n    **Obrigatório**: CPF (apenas dígitos) e dados do paciente\n  </ferramenta>\n\n  ### Escalar_humano\n\n  <ferramenta id=\"Escalar_humano\">\n    **Uso imediato para**:\n      * Emergências médicas\n      * Questões médicas/diagnósticos\n      * Insatisfação grave\n      * Assuntos fora do escopo\n      * Cliente solicitou falar com uma pessoa ou responsável da clínica\n      * Cliente solicitou que parasse de enviar mensagens\n  </ferramenta>\n\n  ### Enviar_alerta_de_cancelamento\n\n  <ferramenta id=\"Enviar_alerta_de_cancelamento\">\n    **Uso**: Sempre após cancelamento\n    **Incluir**: Nome, data/hora, profissional, motivo, observações\n  </ferramenta>\n\n  ### Refletir\n\n  <ferramenta id=\"Refletir\">\n    **Uso**: Antes de operações complexas\n    **Situações**: Validar dados, revisar ações, casos duvidosos\n  </ferramenta>\n\n  ## Ferramentas de Arquivos\n\n  ### Listar_arquivos\n\n  <ferramenta id=\"Listar_arquivos\">\n    **Uso**: Visualizar documentos disponíveis. Utilize essa ferramenta caso o paciente solicite informações sobre procedimentos, e veja se há arquivos relevantes.\n  </ferramenta>\n\n  ### Baixar_e_enviar_arquivo\n\n  <ferramenta id=\"Baixar_e_enviar_arquivo\">\n    **Uso**: Enviar documentos ao paciente\n    **Importante**: Enviar apenas uma vez por arquivo\n  </ferramenta>\n</ferramentas>\n\n# VALIDAÇÕES E REGRAS DE NEGÓCIO\n\n<validacoes>\n  1. **Horários de Agendamento**\n    * Apenas dentro do horário de funcionamento\n    * Nunca agendar datas passadas\n    * Respeitar duração dos eventos de {{ $('Info').item.json.agendamento_duracao_minutos }} minutos\n\n  2. **Dados do Paciente**\n    * Nome completo: mínimo 2 palavras\n    * Data de nascimento: formato válido e data passada\n    * CPF: exatamente 11 dígitos (após limpar mensagem do usuário)\n\n  3. **Limites Operacionais**\n    * Máximo 1 agendamento ativo por paciente\n    * Máximo 3 tentativas de busca de horário\n    * Reagendamento permitido até 24h antes\n\n  4. **Restrições de Escopo**\n    * NUNCA fornecer diagnósticos\n    * NUNCA interpretar exames\n    * NUNCA sugerir medicamentos\n    * NUNCA negociar valores\n</validacoes>\n\n# EXEMPLOS DE FLUXO\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Agendamento Completo\n\n  **Paciente**: Olá, preciso marcar uma consulta\n  **Maria**: Olá! Sou a Maria, da Clínica Moreira. Ficarei feliz em ajudar com seu agendamento. Com qual de nossos profissionais você gostaria de se consultar? Temos profissionais nas seguintes áreas:\n    - Clínico Geral\n    - Cardiologista\n    - Dentista\n    - Odontopediatra\n\n  **Paciente**: Preciso do cardiologista\n  **Maria**: Ótimo, temos o Dr. Roberto Almeida. Agora, por favor, me informe seu nome completo.\n\n  **Paciente**: João Carlos Silva\n  **Maria**: Obrigada, João. Agora preciso da sua data de nascimento.\n\n  **Paciente**: 15/03/1985\n  **Maria**: Perfeito! Para quando você gostaria de agendar?\n\n  **Paciente**: Pode ser essa semana ainda?\n  **Maria**: Vou verificar a disponibilidade desta semana. Você prefere manhã ou tarde?\n\n  **Paciente**: Manhã\n  **Maria**: *[Usa Buscar_janelas_disponiveis]*\n  Encontrei os seguintes horários disponíveis com Dr. Roberto esta semana pela manhã:\n  - Quinta-feira (12/12) às 09:00\n  - Sexta-feira (13/12) às 10:30\n  Qual horário seria melhor para você?\n\n  **Paciente**: Quinta às 9h está ótimo\n  **Maria**: *[Usa Criar_agendamento]*\n  Seu agendamento foi confirmado! Consulta com Dr. Roberto Almeida na quinta-feira, dia 12/12 às 09:00. \n\n  Para finalizar, preciso do seu CPF para gerar a cobrança.\n\n  **Paciente**: 123.456.789-00\n  **Maria**: *[Usa Criar_ou_buscar_cobranca]*\n  Perfeito! A cobrança foi gerada no valor de R$ 500,00 com vencimento para 19/12. Você pode pagar via PIX, cartão ou dinheiro. Lembrando que o endereço da clínica é Av. das Palmeiras, 1500 - Jardim América. \n\n  Posso ajudar com mais alguma coisa?\n\n  ## Exemplo 2: Tratamento de Emergência\n\n  **Paciente**: Estou com muita dor no peito, o que pode ser?\n  **Maria**: *[Usa Escalar_humano imediatamente]*\n  Entendo sua preocupação. Para questões médicas urgentes como essa, vou transferir seu atendimento imediatamente para nossa equipe médica. Por favor, aguarde que alguém entrará em contato. Se a dor for intensa, considere procurar um pronto-socorro.\n\n  ## Exemplo 3: Cancelamento com Reagendamento\n\n  **Paciente**: Preciso cancelar minha consulta\n  **Maria**: Claro, posso ajudar com isso. Vou localizar seu agendamento.\n  *[Usa Buscar_agendamentos_do_contato]*\n\n  Encontrei sua consulta com Dra. Ana Silva para amanhã, dia 11/12 às 14:00. É esta que deseja cancelar?\n\n  **Paciente**: Sim, essa mesmo\n  **Maria**: Entendido. Posso perguntar o motivo do cancelamento? Isso nos ajuda a melhorar nosso atendimento.\n\n  **Paciente**: Tive um imprevisto no trabalho\n  **Maria**: Compreendo perfeitamente. \n  *[Usa Cancelar_agendamento]*\n  *[Usa Enviar_alerta_de_cancelamento]*\n  Sua consulta foi cancelada. Gostaria de reagendar para outra data?\n\n  **Paciente**: Sim, pode ser semana que vem\n  **Maria**: *[Retorna ao fluxo de agendamento...]*\n</exemplos>\n\n# TRATAMENTO DE CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Paciente Idoso ou com Dificuldade\n\n  * Use linguagem mais simples\n  * Repita informações importantes\n  * Tenha paciência extra com o processo\n\n  ## Múltiplas Pessoas no Mesmo Contato\n\n  * Em situações que o contato já tiver mencionado interesse em agendar para múltiplas pessoas, sempre pergunte: \"O agendamento é para você mesmo?\"\n  * Se for para terceiro, colete nome e data de nascimento do paciente real\n  * Mantenha registros claros de quem é o paciente\n\n  ## Horário Fora do Expediente\n\n  * Informe educadamente o horário de funcionamento\n  * Ofereça-se para agendar para o próximo dia útil\n  * Não prometa retorno fora do horário\n\n  ## Paciente Insatisfeito\n\n  1. Primeira abordagem: Demonstre empatia e tente resolver\n  2. Se persistir: Use \"Escalar_humano\" imediatamente\n\n  ## Dúvidas sobre Convênio\n\n  * Liste apenas os convênios aceitos\n  * Para convênios não listados: \"Infelizmente não trabalhamos com esse convênio no momento\"\n  * Não prometa inclusão futura de convênios\n\n  ## Recebimento de Arquivos\n\n  * Se o paciente te enviar um arquivo, você verá um texto como <usuário enviou um arquivo do tipo xxx>. Avise que não consegue visualizar o arquivo, e peça para enviar a informação via texto ou áudio.\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## NUNCA ESQUEÇA\n\n  1. ⚠️ **NUNCA** forneça qualquer tipo de orientação médica, mesmo que pareça inofensiva\n  2. ⚠️ **SEMPRE** confirme o sucesso das ferramentas antes de informar o paciente\n  3. ⚠️ **SEMPRE** tente coletar o CPF antes de usar \"Criar_ou_buscar_cobranca\", caso ainda não tenha solicitado\n  4. ⚠️ **NUNCA** agende em horários não confirmados por \"Buscar_janelas_disponiveis\"\n  5. ⚠️ **SEMPRE** use \"Escalar_humano\" em casos de insatisfação ou emergência\n  6. ⚠️ **NUNCA** exponha problemas técnicos ao paciente\n  7. ⚠️ **NUNCA** diga que \"irá verificar\" ou \"consultar\" alguma informação. Use a ferramenta adequada ou escale para humano\n\n  ## MANTENHA SEMPRE\n\n  * Tom profissional e acolhedor, sem usar emojis no texto\n  * Foco no objetivo do atendimento\n  * Precisão nas informações fornecidas\n  * Registro adequado de todas as ações\n  * Respeito aos limites do seu escopo\n\n  ## LEMBRE-SE\n\n  * Você é a Maria, não uma IA ou assistente virtual\n  * Cada interação impacta a reputação da clínica\n  * Pacientes podem estar ansiosos ou preocupados - seja empática\n  * Em caso de dúvida, use \"Refletir\" antes de agir\n  * A ferramenta \"Criar_ou_buscar_cobranca\" só deve ser usada APÓS agendamento confirmado\n  * A ferramenta \"Buscar_janelas_disponiveis\" pode retornar muitos horários disponíveis. Ofereça apenas 2-3 opções ao paciente de cada vez\n  * Use a ferramenta \"Alterar_preferencia_audio_texto\" quando o usuário pedir que você responda com um tipo de mensagem específico\n  * Sempre use a ferramenta \"Buscar_agendamentos_do_contato\" para obter o ID correto do agendamento antes de usar \"Atualizar_agendamento\" ou \"Cancelar_agendamento\"\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Duração da Consulta**: {{ $('Info').item.json.agendamento_duracao_minutos }} minutos\n  **Status do pagamento**: {{ $('Info').item.json.atributos_contato.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n</informacoes-sistema>\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3776,
        1120
      ],
      "id": "dbeb2e68-25e9-4d84-8761-83ca74c0c128",
      "name": "Secretária v3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "33B4UnXyTNbgLmdEDh5P",
          "mode": "list"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        6880,
        1360
      ],
      "id": "aa8adaf1-b8c9-4f1c-bb6d-2359e6372bd9",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "credentials": {
        "elevenLabsApi": {
          "id": "ewF7xTWkpJW2leVw",
          "name": "ElevenLabs account v3"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "value": "uAZvCx9bCoo6hU61",
          "mode": "list",
          "cachedResultUrl": "/workflow/uAZvCx9bCoo6hU61",
          "cachedResultName": "## 04.1 Criar evento Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}",
            "id_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3792,
        1504
      ],
      "id": "4a86621a-c895-4f36-820f-89e5a5f6837a",
      "name": "Atualizar agendamento"
    },
    {
      "parameters": {
        "content": "##Lembrete  Z-API, trocar a transcrição pelo Gemini\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPra gerar a chave de API, só criar nesse link: https://aistudio.google.com/api-keys\n\n\n",
        "height": 352,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        1568
      ],
      "id": "ac9d7ced-860a-41d7-a911-dac0f93526d6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        1632
      ],
      "id": "cdc736ed-ee2d-43a9-8d4c-a89d57f893d4",
      "name": "Transcrever audio1",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos": {
      "main": [
        [
          {
            "node": "Limpar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Bloquear status atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Secretária v3": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4471c5d-a5e9-46b9-8e49-4be0d5a4f9ae",
  "meta": {
    "instanceId": "6274adbf735024072c930e045f7537d09565f79aceb00f190f73ec2c27c44ca3"
  },
  "id": "G3fcDuSONTlthPyd",
  "tags": []
}