Workflows/## 04. Criar evento Google Calendar.json
{
  "name": "## 04. Criar evento Google Calendar",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "start": "={{ $('Gatilho').item.json.evento_inicio }}",
        "end": "={{ $('Calcula fim do evento').item.json.evento_fim }}",
        "additionalFields": {
          "attendees": [],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Gatilho').item.json.descricao }}",
          "summary": "={{ $('Gatilho').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1632,
        704
      ],
      "id": "50d15c15-c72e-47d3-9836-50e745975aac",
      "name": "Cria o evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tzLknboR5jkrsGM6",
          "name": "Calendar- Secv3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0423c482-5749-4c92-ba44-a33b281918a6",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        800
      ],
      "id": "ffc61061-375d-46bc-b20f-3f412965ed7b",
      "name": "Janela disponível?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a677f76-5e00-43f7-8f7d-6de17744391b",
              "name": "erro",
              "value": "HORÁRIO INDISPONÍVEL. VERIFICAR SE AGENDAMENTO JÁ NÃO FOI REALIZADO PARA ESSE CONTATO.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        928
      ],
      "id": "4487a4a9-477e-4c4d-a0f9-5f91ff404f91",
      "name": "Retorna \"horário indisponível\""
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "evento_inicio"
            },
            {
              "name": "duracao_minutos",
              "type": "number"
            },
            {
              "name": "titulo"
            },
            {
              "name": "descricao"
            },
            {
              "name": "id_agenda"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        752,
        800
      ],
      "id": "ded6f5de-ab17-4115-8c87-9cf69523749e",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a94abf94-1a64-4995-b4f1-4644993b3ece",
              "name": "evento_fim",
              "value": "={{ $('Gatilho').item.json.evento_inicio.toDateTime().plus($('Gatilho').item.json.duracao_minutos, 'minutes').toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        800
      ],
      "id": "1f2ca68c-74e6-46cb-9a6d-d4c802976c28",
      "name": "Calcula fim do evento"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oIXC3WCrH9KQUIUG",
          "mode": "list",
          "cachedResultUrl": "/workflow/oIXC3WCrH9KQUIUG",
          "cachedResultName": "## 03. Buscar janelas disponíveis Google Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tamanho_janela_minutos": "={{ $('Gatilho').item.json.duracao_minutos }}",
            "periodo_inicio": "={{ $('Gatilho').item.json.evento_inicio }}",
            "periodo_fim": "={{ $('Calcula fim do evento').item.json.evento_fim }}",
            "id_agenda": "={{ $('Gatilho').item.json.id_agenda }}",
            "amostras": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1168,
        800
      ],
      "id": "618da5be-c2de-4ae2-9825-f729de999865",
      "name": "Buscar janelas disponíveis",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "### Configurar subworkflow!",
        "height": 256,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        720
      ],
      "typeVersion": 1,
      "id": "299d6030-c35f-4de4-9432-69e9a060cf31",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [x] \"Buscar janelas disponíveis\" -> Subworkflow 03\n- [x] Abrir node do Google Calendar para selecionar credencial",
        "height": 144,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        448
      ],
      "id": "129264b4-79b0-4a14-8ff4-da960f1a1b09",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Buscar janelas",
        "height": 432,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        640
      ],
      "typeVersion": 1,
      "id": "eee6a275-9357-464c-9a5d-56653ca780c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criar o evento",
        "height": 208,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        640
      ],
      "typeVersion": 1,
      "id": "064a2653-7796-4f00-a7a4-aab868bbbbc3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Horário indisponível",
        "height": 208,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        864
      ],
      "typeVersion": 1,
      "id": "9198b5d7-31a2-4d2a-98f9-c810164eb4ef",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faa4a0a7-cdb9-4729-8a7e-27193513b89a",
              "name": "resultado",
              "value": "AGENDAMENTO CRIADO",
              "type": "string"
            },
            {
              "id": "e6ee1079-a033-4240-be55-f2fbfdcc94b2",
              "name": "id_evento",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        704
      ],
      "id": "526abe42-6883-4f7b-83e6-8ad9aa696be7",
      "name": "Retorna evento criado"
    }
  ],
  "pinData": {},
  "connections": {
    "Cria o evento": {
      "main": [
        [
          {
            "node": "Retorna evento criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Janela disponível?": {
      "main": [
        [
          {
            "node": "Cria o evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna \"horário indisponível\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Calcula fim do evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula fim do evento": {
      "main": [
        [
          {
            "node": "Buscar janelas disponíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponíveis": {
      "main": [
        [
          {
            "node": "Janela disponível?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c0246f1-24b5-4238-ac94-670e3ecde8f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6274adbf735024072c930e045f7537d09565f79aceb00f190f73ec2c27c44ca3"
  },
  "id": "5qZEp6Y4GBOU5EjN",
  "tags": []
}